/*001*/
body {
    font-family: Helvetica, Verdana, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: black;
}

/*001*/
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
	color: #0DFF71;
	background-color: #2B2D40;
	text-align: center;
	text-transform: uppercase;
	
}

/*001*/
h1 {
    font-style: italic;
    font-size: 3em;
    margin: 1em;
}

/*001*/
h2, h3, h4, h5, h6{
    margin: 0.5em;
}

/*011*/
a:link{
    color: rgb(84,34,0);
    text-decoration: underline;
}

/*011*/
a:visited{
    color: rgb(137,41,119);
}

/*013*/
ul li a:hover{
    text-decoration: none;
    background-color: rgb(255,255,0);
}

/*004*/
nav ul li{
   list-style-type: lower-roman;
    list-style-position: inside;
}

/*003*/
ul li{
   list-style-type: square;
    list-style-position: inside;
}

